@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* Shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.container-section {
  max-width: 1140px;
  margin: 0 auto;
}
/* navbar section style*/
nav {
  padding: 48px 0 46px 0;
  display: flex;
  justify-content: space-between;
}
.nav-title {
  color: #0d1321;
  font-size: 28px;
  font-weight: 800;
}
.nav-btn {
  color: #0d1321;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
}
/* banner section style */
.banner {
  height: 652px;
  background-image: url(../Images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-content {
  text-align: center;
}
.banner-pic {
  margin-top: 26px;
}
.banner-title {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  max-width: 998px;
  margin: 30px auto;
}
.banner-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 852px;
  margin: 0 auto;
}
.banner-btn {
  margin-top: 32px;
}
.banner-btn a {
  text-decoration: none;
  color: #fff;
  background-color: #0d1321;
  padding: 21px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
/* development section style */
.development {
  margin: 74px 0 90px 0;
}
.dev-bg {
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
}
.dev-title {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.dev-description {
  max-width: 852px;
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 24px 0 48px 0;
}
.dev-items-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  padding: 48px;
}
.dev-content {
  max-width: 477px;
}
.dev-pic {
  max-width: 240px;
}
.dev-item-title {
  max-width: 390px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.dev-item-description {
  max-width: 468px;
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 16px 0 32px 0;
}
.dev-item-btn {
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid #0d1321;
  opacity: 0.7;
}
.dev-item-mr {
  margin: 32px 0;
}
/* inspiration section style*/
.inspiration-title {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.inspiration-description {
  max-width: 852px;
  margin: 24px auto 48px auto;
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.iframe-video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  text-align: center;
  margin-bottom: 151px;
}
.iframe-video iframe {
  margin: 32px 0;
  border-radius: 16px;
}
.current-target {
  margin-bottom: 111px;
}
/* Current-Target Section style*/
.current-target-title {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.current-target-description {
  max-width: 852px;
  margin: 24px auto 48px auto;
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skill-item {
  padding: 40px;
  border-radius: 16px;
}
.skill-title {
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 24px;
}
.skill-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 8px 0 24px 0;
}
.skill-btn {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
}
.skill-html {
  background-color: rgba(255, 76, 30, 0.05);
}
.skill-css {
  background: rgba(0, 76, 232, 0.05);
}
.skill-js {
  background: rgba(255, 223, 0, 0.05);
}
/* next target section style */
.next-target {
  margin-bottom: 50px;
}
.next-target-title {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.next-target-description {
  max-width: 852px;
  color: #0d1321;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 24px auto 48px auto;
}
.next-target-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
}
.next-target-pic {
  padding: 40px 0;
}
.next-target-content {
  max-width: 941px;
}
.next-target-skill-title {
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.next-target-skill-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 8px 0 24px 0;
}
.next-target-skill-btn {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
}
.next-target-mr {
  margin: 24px 0;
}
/* support section style */
.support {
  height: 313px;
  background-image: url(../Images/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px 48px;
  border-radius: 16px;
  margin-bottom: 80px;
}
.support-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.support-description {
  max-width: 606px;
  margin: 16px auto 24px auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.input-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.support-input-field {
  width: 548px;
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border: none;
  border-radius: 8px;
}
.support-btn {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border-radius: 8px;
}
/* footer section */
.footer {
  background: rgba(13, 19, 33, 0.03);
  border-radius: 16px 16px 0 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.footer-title {
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
}
.footer-icon-mr {
  margin: 0 24px;
}

